/* Đặt chiều rộng cho sidebar và định dạng các thành phần bên trong */
.sidebar-container {
    width: 250px;
    background-color: #2c3e50; 
    height: 100vh; 
    padding-top: 20px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Hiệu ứng đổ bóng */
    transition: width 0.3s ease; /* Hiệu ứng chuyển động khi thay đổi chiều rộng */
  }
  .sidebar-header {
    color: #e66814;
    text-align: center; 
  }
  
  .sidebar-title {
   font-weight: bold;
    font-size:1.2 rem; 
  }
  /* Định dạng các item trong sidebar */
  .sidebar-item {
    color: #0c0c0c; 
    padding: 15px 20px; 
    border-radius: 10px;
    margin: 10px 0; 
    display: flex;
    align-items: center;
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.2s; /* Hiệu ứng hover */
  }
  
  /* Định dạng icon trong sidebar */
  .sidebar-icon {
    color: #ecf0f1; 
    margin-right: 15px; 
    transition: color 0.3s ease; /* Hiệu ứng chuyển màu cho icon */
  }
  
  /* Đổi màu khi item được hover */
  .sidebar-item:hover {
    background-color: #34495e; 
    transform: translateX(5px); /* Di chuyển nhẹ sang phải khi hover */
  }
  
  /* Đổi màu khi item được active */
  .sidebar-item.active {
    background-color: hsl(168, 76%, 42%); /* Màu khi item đang được chọn */
    color: rgb(241, 151, 151);
  }
  
  /* Đổi màu icon khi item được active */
  .sidebar-icon.active {
    color: rgb(12, 12, 12);
  }
  
  /* Định dạng tiêu đề sidebar */
  .sidebar-container h1 {
    color: #ecf0f1; 
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem; 
  }
  
  /* Responsive - tự động ẩn sidebar khi trên thiết bị nhỏ */
  @media (max-width: 768px) {
    .sidebar-container {
      width: 60px; /* Thu hẹp sidebar */
    }
  
    .sidebar-item {
      justify-content: center; /* Canh giữa icon */
    }
  
    .sidebar-item .MuiListItemText-root {
      display: none; /* Ẩn text khi trên thiết bị nhỏ */
    }
  }
  