.user-content-section {
  min-height: 100vh; /* Đảm bảo chiều cao tối thiểu là 100% chiều cao màn hình */
  margin: 0;
  box-sizing: border-box; /* Đảm bảo padding không làm tăng chiều rộng/chiều cao của phần tử */
  display: flex;
  flex-direction: column;
}
  
#userTable {
  margin-top: 20px;
}
  
table {
  width: 100%;
  border-collapse: collapse;
}
  
th, td {
  border: 1px solid #ddd;
  padding: 14px;
  text-align: center;
}
  
th {
  background-color: #34495e;
  color: #ecf0f1;
  font-weight: normal;
  font-size: 18px;
}
  
/* Nút sửa và xóa trong bảng người dùng */
.user-action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
button.user-edit {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
  transition: background-color 0.3s;
}
  
button.user-delete {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
  
button.user-edit:hover {
  background-color: #2980b9;
}
  
button.user-delete:hover {
  background-color: #c0392b;
}
  
/* Nút thêm người dùng */
.user-floating-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-floating-btn:hover {
  background-color: #2980b9;
}
  
/* CSS cho header-section */
.user-header-section {
  display: flex;
  justify-content: center;  /* Canh giữa tất cả các phần tử */
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

/* CSS cho tiêu đề */
.user-header-section h2 {
  position: absolute;
  left: 0; /* Căn trái tiêu đề */
  margin: 0;
}

/* CSS cho thanh tìm kiếm */
.user-search-container {
  position: relative;
  width: 500px;
}

.user-search-icon {
  position: absolute;
  top: 40%;
  right: 10px; /* Đặt icon ở bên phải */
  transform: translateY(-50%);
  color: #7f8c8d;
  font-size: 18px;
}

.user-search-input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Thêm khoảng trống bên phải cho icon */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  transition: border-color 0.3s ease;
}

.user-search-input:focus {
  border-color: #3498db;
  outline: none;
}
